<widget xmlns="http://www.w3.org/ns/widgets"
		id="http://operaextension.tos-dr.info"
		version="0.2">
	<name short="Terms of Service">Terms of Service; Didn’t Read</name>
	<description>
		Get information instantly about websites’ terms of service and privacy policies, with ratings and summaries from the “Terms of Service; Didn’t Read” project (http://tosdr.org/).
	</description>
	<author href="http://tosdr.org/">
    	Terms of Service; Didn’t Read
	</author>
	<license href="http://opensource.org/licenses/AGPL-3.0">
		Licensed under AGPLv3
    </license>
	<icon src="images/tosdr-icon-64.png" />
	<access origin="*" />
	<update-description href="http://operaextension.tos-dr.info/update-info.xml" />
</widget>
